---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <a href="/">HOME</a>
  <div class="cube-wrap">TEST</div>
</Layout>

<style>
  .cube-wrap {
    margin: 100px 100px;
    filter: drop-shadow(-16px -16px red);
  }

  div {
    display: inline-block;
    margin: 0 0.5rem 2rem 1rem;
    padding: 0.5rem;
    height: 100px;
    width: 190px;
    vertical-align: top;
    background-color: #222;

    color: white;
  }
</style>

<script></script>
