---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <a href="/example1">Example 1</a>
  <a href="/example2">Example 2</a>
  <a href="/example3">Example 3</a>
  <a href="/example4">Example 4</a>
  <a href="/example5">Example 5</a>
  <a href="/example6">Example 6</a>
</Layout>
